{% load i18n %}
<form id="add_form" method="post" class="col-2 offset-4">
    {% csrf_token %}
    <div class="form-group">
        <label for="formula_input">{% trans "Formula" %}</label>
        <input id="formula_input" type="text" name="formula" class="form-control">
    </div>
    <div class="form-group">
        <label for="interval_input">{% trans "Interval" %}</label>
        <input id="interval_input" type="text" name="interval" class="form-control{% if interval_error %} is-invalid{% endif %}">
        {% if interval_error %}
        <div class="invalid-feedback">
            {% trans "Interval must be natural." %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="step_input">{% trans "Step" %}</label>
        <input id="step_input" type="text" name="step" class="form-control{% if step_error %} is-invalid{% endif %}">
        {% if step_error %}
        <div class="invalid-feedback">
            {% trans "Step must be natural." %}
        </div>
        {% endif %}
    </div>
    <button class="btn btn-primary btn-block" type="submit">{% trans 'Save' %}</button>
</form>
<script>
    $('#add_form').submit(function(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/add/',
            data: $('#add_form').serialize(),
            success: function (data, textStatus, xhr) {
                if (xhr.status == 202)
                {
                    $('#_add').html(data);
                } else {
                    $('#_add').hide();
                    $('#_list').html(data);
                }
            }
        });
    });
</script>