{% extends "dashboard/base.html" %}
{% load i18n %}
{% block title %}{% trans "Function dashboard" %}{% endblock %}
{% block content %}
<div id="_add">
    {% include "dashboard/_add.html" %}
</div>
<div class="container-fluid p-4">
    <form id="done_form" method="post">
        {% csrf_token %}
        <div class="row">
            <select name="action" class="custom-select col-1 m-1">
                <option value="update">{% trans "Update" %}</option>
                <option value="delete">{% trans "Delete" %}</option>
            </select>
            <button type="submit" class="btn btn-primary col-1 m-1">{% trans 'Done' %}</button>
            <button id="add_button" class="btn btn-primary col-1 m-1 ml-auto">{% trans "Add" %}</button>
        </div>
        <div id="_list">
            {% include "dashboard/_list.html" %}
        </div>
    </form>
</div>
{% endblock %}
